.saved-restaurants-page-container {
  margin: 20px;
}

.saved-restaurants-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  align-items: center;
}
