/* all-reviews */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-reviews-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
}

/* review-card */
.review-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.restaurant-name-link {
  font-weight: bold;
}
.restaurant-name-link:hover {
  color: rgb(85, 80, 80);
}

.review-text-not-expanded {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.show-more-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
