.restaurant-container {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-name {
  text-align: center;
  /* display: flex;
  justify-content: center; */
  font-weight: 500;
  font-size: xx-large;
  font-family: "Anton", sans-serif;
  font-style: normal;
  margin-bottom: 3vh;
}

.restaurant-image {
  min-width: 300px;
}

.restaurant-details {
  text-align: center;
  margin-bottom: 20px;
}

.image-details-wrapper {
  gap: 50px;
}
