.single-restaurant-card-container {
  display: flex;
  justify-content: center;
}
.single-restaurant-card {
  overflow: hidden;
  padding: 2px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
  width: 500px;
}

.single-card-body {
  overflow: hidden;
  padding: 2px;
}

.card-info {
  height: 100px;
  overflow: hidden;
  padding: 2px;
}

.card-info ul {
  list-style: none;
}

.restaurant-listing-img {
  object-fit: cover;
}

.single-restaurant-button-text:hover {
  color: rgb(115, 117, 117);
}
