.single-restaurant-card-container {
  display: flex;
  justify-content: center;
}
.single-restaurant-card {
  /* height: 55vh; */
  overflow: hidden;
  padding: 2px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
}

.single-card-body {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  overflow: hidden;
  padding: 2px;
}

.card-info {
  /* display: flex;
  flex-direction: row; */
  height: 100px;
  overflow: hidden;
  padding: 2px;
}

.card-info ul {
  list-style: none;
  /* padding: 0;
  margin: 0; */
}

/* .card-info ul li {
  margin-bottom: 8px;
} */

.restaurant-listing-img {
  object-fit: cover;
}

.single-restaurant-button-text:hover {
  color: rgb(115, 117, 117);
}
