.restaurant-list-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1;
}

#restaurant-filters {
  flex: 2;
}
#restaurants {
  flex: 8;
}

.restaurant-card {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.restaurants-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
