.home-page-container {
  width: 100%;
  height: 100%;
  /* margin: 20px 0;
  padding: 20px 0; */
}

.recent-activities {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
